<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Import Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block title %}<title>Library</title>{% endblock %}
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            {% block navbar %}
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Book List</a></li>
            </ul>
            {% endblock %}
        </div>
    </nav>
    {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</body>
</html>