{% extends "base.html" %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/indexStyles.css' %}">
{% endblock %}

{% block content %}
    <div class="query-search">
        <div class="title">
            Recommend Me Some Books!
        </div>
        <div class="box">
            <div class="container-search">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." />
            </div>
        </div>
    </div>
{% endblock %}