html, body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;
    background: whitesmoke;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    list-style: none;
    background: white;
    font-size: 18px;
    align-content: center;
    border-bottom:2px solid #CC3434;
    box-shadow: 0 12px 6px -6px rgba(0,0,0, .2);
}

.nav-wrapper ul {
    padding-right: 50px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.nav-wrapper ul li {
    list-style: none;
    position: relative;
    float: right;
    line-height: 70px;
    background: inherit;
    text-align: center;
    border-top: 4px solid white;
}

.nav-wrapper ul li a{
    color: darkgrey;
    position: relative;
    display: block;
    padding: 0 20px;
    line-height: inherit;
    text-decoration: none;
}


.nav-wrapper ul li a:hover{
    color: #141414;
}

.nav-wrapper ul li:hover{
    border-top: 4px solid #CC3434;
}